body {
    font-family: monospace;
    font-weight: lighter;
}

h1 {
    font-size: 20px;
}

img {
    max-height: 15%;
    max-width: 15%;
}

a:link {
    color: darkcyan;
    text-decoration: none;
}

a:visited {
    color: burlywood;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer {
    max-width: 100px;
}
